body {
    background: #F4F5F7;
    font-family: sans-serif;
}

.header {
    margin: 0px 30px;
    width: 74vmax;
    padding: 30px 0px 50px 0px;
    
}
h1 {
    color: darkslategrey;
    font-weight: 400;
    font-size: 48px;
}

button:hover {
    color: darkslategrey;

    cursor:pointer; 
}
#starter-text {
    color: darkslategrey;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}
.new-book-button {
    color: white;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    background: magenta;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 4px lightgray;
    padding: 10px 30px 10px 30px;
}
.new-book-button:hover {
    color: lightgray;
    background: rgb(228, 0, 228);
    box-shadow: none;
}
.cards-wrapper {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );    
    column-gap: 10px;
    row-gap: 15px;
    margin: 0px 30px;

}

.book-card {
    background: rgb(0,245,166);
    background: linear-gradient(170deg, rgba(0,245,166,1) 0%, rgba(24,145,135,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 15px;
    box-shadow: 1px 1px 3px lightgray;
    padding: 10px 0px 0px 20px;
    color: darkslategray;
    font-family: Helvetica, sans-serif;
}


.overlay-outer {
    display: grid;
    opacity: 0;
    pointer-events: none;
    background: rgb(88, 102, 101, 0.8);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.overlay-outer.open {
    opacity: 1;
    pointer-events: all;
}

.overlay-inner {
    margin: 50px auto;
    width: 100%;
    background: rgb(255, 145, 231);
    padding: 40px;
}

#new-book-form>input {
    display: block;
    margin: 5px 0px 5px 0px;
    background-color: rgba(255, 255, 255, 0.63);
    color: black;
    border: none;
    padding: 10px;
    width: 90%;
}

button#exit-form, button#submit-new-book {
    padding: 10px 30px 10px 30px;
    background: white;
    border-radius: 25px;
    color: black;
    font-family: monospace;
    margin-top: 20px;
}
#submit-new-book {
    border: 2px solid rgb(0,245,166);
}
#submit-new-book:hover {
    background-color: rgb(0,245,166);
}
#submit-new-book:disabled {
    background-color: rgba(0, 245, 167, 0.425);
    border: none;
    cursor: not-allowed;
}
#exit-form {
    border: 2px solid magenta;
    
}

#exit-form:hover {
    background: magenta;
    color: white;

}

.remove-button {
    float: right;
    background:rgba(255, 255, 255, 0);
    color: rgba(0,212,255,1);
    margin: 10px;
    display: block;
    padding: 5px 10px;
    border-radius: 25px;
    border: 1px solid rgba(0,212,255,1);
    font-style: monospace;
}


.remove-button:hover {
    background: rgba(0,212,255,1);
    color: darkslategray;
    opacity: 100%;
}
small {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: #f4f5f7b0;
}